window#waybar {
	background-color: rgba(0,0,0,0);
}

/* Left Modules */

#custom-spotify, #window {
        color: #FFFFFF;
        padding: 2px 15px;
        margin: 15px 0px 0px 15px;
        border-radius: 15px;
        background: rgba(0,0,0,0.5);
}

#window {
	margin-right: 15px;
}

window#waybar.empty #window {
        background-color: transparent;
}

/* Middle Modules */

#workspaces {
        padding-right: 5px;
        margin: 15px 0px 0px 0px;
        border-radius: 15px;
        background: rgba(0,0,0,0.5);
}

#workspaces button {
        padding: 0px;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 5px;
        min-width: 20px;
        min-height: 0px;
        border-radius: 15px;
        background: rgba(255,255,255,0.25);
        transition: all 0.3s ease-in-out;
}

#workspaces button.visible {
        border-radius: 15px;
        min-width: 40px;
        background: rgba(255,255,255,00.5);
        transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
        border-radius: 15px;
        background: rgba(255,255,255,0.25);
}

/* Right Modules */

#cpu, #memory, #pulseaudio, #network, #clock, #custom-pacman, #tray, #custom-power {
        color: #FFFFFF;
	padding: 2px 15px;
	margin: 15px 15px 0px 0px;
	border-radius: 15px;
        background-color: rgba(0,0,0,0.5);
}
